/* shared style */



.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.flex_items {
    display: flex;
}

body {
    max-width: 1140px;
    margin: 0 auto;
    
}

.btn_primary{
    background-color: #E95A08;
    color:#FFFFFF;
    font-size: 1rem;
    padding: 20px 80px;
    border: none;
}


.orange{
    color: #E95A08;
}

.dark_1{
    color: #000000;

}

.dark_2{
    color: rgba(0, 0, 0, 0.5);
}

.dark_3{
    color: #111111;
}
/* navbar style */
.container li {
    list-style: none;
    display: inline;
    margin-right: 50px;

}

.container a {
    text-decoration: none;

}

.nav_container {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* hero section */

.hero
{
    display: flex;
    align-items: center;
    margin-top: 120px;
}


.hero_tittle{
    font-weight: bold;
    font-size: 4rem;
}

.hero_sub{
    font-size:1.3rem ;
}

/* card section style */

.card{
    text-align: center;
     margin-top: 120px;
}

.card_content{
    max-width: 270px;
    text-align: center;
}

.card_tittle{
    font-weight: bold;
    font-size: 3rem;
}

.c_sub_tittle{
    font-size: 1.3rem;
}

.content_tittle{
    font-size: 1.3rem;
    font-weight: 600;
}

.content_price{
     font-size: 1.3rem;
    font-weight: 700;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
   
}

