/* shared style */



.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.flex_items {
    display: flex;
}

body {
    max-width: 1140px;
    margin: 0 auto;
    
}

.orange{
    color: #E95A08;
}

.dark_1{
    color: #000000;

}

.dark_2{
    color: rgba(0, 0, 0, 0.5);
}

/* navbar style */
.container li {
    list-style: none;
    display: inline;
    margin-right: 50px;

}

.container a {
    text-decoration: none;

}

.nav_container {
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* hero section */

.hero
{
    display: flex;
    align-items: center;
    margin-top: 120px;
}


.hero_tittle{
    font-weight: bold;
    font-size: 4rem;
}

.hero_sub{
    font-size:1.3rem ;
}